<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">
    <title>Chuva/Pressão</title>
</head>
<style>
    div {
        background-repeat: no-repeat;
        width: 297mm;
        height: 178mm;
        background-position-y: bottom;
        background-image: url("CamadaFisica.png");
    }
    
    polygon {
        stroke: none;
        opacity: 2%;
    }
</style>

<body>
    <div id="divFisica">
        <svg id="tela" width="297mm" height="210mm">
@
        </svg>
    </div>
</body>

</html>